ion-toolbar{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.login-btn{
    --ion-color-primary: #012c56;
}

ion-card-title{
    font-size: small;
}

ion-card-header{
    display: contents;
    padding: 0 auto;
}
ion-card-content{
    text-align: center;
}
.opt-btn{
    text-align: end;
}

h1{
    text-align: center;
}